VOYAGE_API_KEY=pa_***
ANTHROPIC_API_KEY=sk-ant-***
FLY_API_TOKEN=FlyV1_***
MOTION_TOKEN=
ELEVENLABS_API_KEY=
DATABASE_URL=postgresql://<user>:<pass>@<host>.c-3.us.fly.io/...
USER_IMESSAGE=+1650450****